<div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
      aria-labelledby="ex1-tab-1">
      <ul class="list-group mb-0">
        <% if (locals.wtasks) { %>
            <% for (let i = 0; i < wtasks.length; i++) {%>
                <li class="list-group-item d-flex align-items-center border-0 mb-0 rounded"
                style="background-color: #f4f6f7;">
                <input class="form-check-input me-2" type="checkbox">
                <div><%= wtasks[i] %></div>
                </li>  
            <% } %>
        <% } %>
      </ul>
    </div>
</div>